@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Poppins', sans-serif;
  background-color: #0f172a;
  color: white;
}
.BG{
  background-color: #0f172a;
}
.TEXT{
  color: #ffb70d;
}
.BTN {
  position: relative;
  padding: 8px 32px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}
@media (max-width: 768px) {

  .BTN {
    padding: 4px 10px;
  }
}

.BTN::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffb70d;
  transition: transform 0.5s ease;
  transform-origin: left;
  transform: scaleX(0);
}

.BTN:hover::before {
  transform: scaleX(1);
}

.BTN span {
  position: relative;
  z-index: 8;
  color: #fff;
}